# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Deployment artifacts
.eb-demo-config
app-*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# OS
.DS_Store

# Logs
*.log
