option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role-demo
    InstanceType: t3.micro
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: us-east-1
    SECRET_KEY: change-this-in-production
    PYTHONUNBUFFERED: "1"
  aws:ec2:vpc:
    ELBScheme: public
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role

files:
  "/etc/nginx/conf.d/01_upload.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"
    ignoreErrors: true
